/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles and utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
.container{
    background-color: white;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/*----------------- 
top players style 
-------------------*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/*-----------------
 top blogs style 
 ------------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/*-------------------
 Courses Styles
 --------------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;

}
.course{
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    width: 252.42px;
    height: 269.79px;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
    
}
.course-name{
    color: #1E1E1E;
    font-size: 20px;
}
.course-author{
    color: #ED6B4F;
    font-size: 14px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-duration{
    background-color: #FFE4E8;
    color: #FF4A60;
    border-radius: 5px;
}
.course-name, .course-banner, .course-info, .course-author{
    margin: 15px 16px 16px 12px;
}

/*-----------------------------
 Media Queries for Responsive 
 ------------------------------*/

 /* Mobile Devices */
 @media only screen and (max-width:688px) {
    .container{
        width:100%;
    }
    .players, .blogs{
        grid-template-columns: repeat(1, 1fr);

    }
    .player{
        flex-direction: column;
    }
    .blog{
        flex-direction: column;
        align-items: left;
    }
 }










 .features{
    display: inline;
    align-items: center;
}
.feature-container{
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 5px;
    margin-top: 35px;
    margin: 35px 0 10px 0;

}
.feature-container.gallery img{
    width: 360px;
    height: 342px;
    border-radius: 8px;

}
.feature-header{
    width: 360px;
    font-size: 30px;
}
.feature-body{
    width: 300px;
    text-align: left;
    margin-bottom: 50px;

}
.feature-list{
    width: 350px;
    display: block;
    justify-content: space-around;
    margin-top: 130px;

}
.feature-list-details, .feature-info-details{
    margin: 0;
    width: 340px;
    padding: 10px 0px 10px 10px;
}

.feature-image img{
    width: 360px;
    height: 500px;
    border-radius: 8px;
    margin-left: 0px;
}
.feature-button-second{
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color:  #FFFFFF;
}